﻿@model SessionMVC1212460.Models.marin
@{
    ViewBag.Title = "detailByCode";
}

<h2>Information</h2>

<ul>
    <li >
      Student Code : @Model.SCode
    </li>
    <li>
       Name        :  @Model.Name
    </li>
    <li>
       Phone No    : @Model.PhoneNo
    </li>
</ul>
<br/>
<br/>
<div>@Html.RouteLink("Logout", new { controller = "logOut", action = "Index" }, null)</div>
