﻿
@{
    ViewBag.Title = "Index";
}

<h2>Thông tin các thành viên trong nhóm</h2>
<table>
    <tr>
        <td> @Html.RouteLink("1212460", new { controller = "users", action = "detailByCode", sCode =1212460 }, null)</td>
    </tr>
    <tr>
        <td> @Html.RouteLink("1112341", new { controller = "users", action = "detailByCode", sCode = 1112341 }, null)</td>
    </tr>
    <tr>
        <td> @Html.RouteLink("1212059", new { controller = "users", action = "detailByCode", sCode = 1212059 }, null)</td>

    </tr>
    <tr>
        <td> @Html.RouteLink("1212060", new { controller = "users", action = "detailByCode", sCode = 1212060 }, null)</td>

    </tr>
    <tr>
        <td> @Html.RouteLink("1212431", new { controller = "users", action = "detailByCode", sCode = 1212431 }, null)</td>
    </tr>
    <tr>
        <td> @Html.RouteLink("1212059", new { controller = "users", action = "detailByCode", sCode = 1212059 }, null)</td>
    </tr>
</table>
<br />
<br />
<div>@Html.RouteLink("Logout", new { controller = "logOut", action = "Index" }, null)</div>