﻿@{
    ViewBag.Title = "Index";
}

<h2>Login</h2>
<br/>

<form action="auth" method="get">
    <label>User Name</label><br/><input type="text" name="user" />
    <br />
    <label>PassWord</label><br/><input type="password" name="pass" />
    <br/>
    <br/>
    <br/>
    <input type="submit" value="Login" />
</form>

